<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
<!--<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>-->
<div class="imgError">
<img src="/images/error.jpg">
</div>
</body>
</html>
